*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
    }
.container{
    position: relative;
    width: 100%;
}
/* sidebar */
.sidebar{
    position: fixed;
    width: 300px;
    height: 100%;   
    background: linear-gradient(45deg, #01a5c2, #013f46);
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.sidebar ul li{
   width: 100%;
   list-style: none;
}
.sidebar ul li:hover{
    background: rgb(140, 174, 190);
}
.sidebar ul li:first-child{
    line-height: 60px;
    margin-bottom: 20px;
    font-weight: 600;
}
.sidebar ul li:first-child:hover{
    background: none;
}
.sidebar ul li a{
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    list-style: none;
    align-items: center;
}
.sidebar ul li a i{
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}
.sidebar .title{
    padding: 0 10px;
    font-size: 20px;
}
.tables{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    align-items: self-start;
    padding: 0 20px 20px 20px;
}
.img-box-small{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.last-exam .admins{
    min-height: 350px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #444;
    margin-top: 30px;
    margin-left: 300px;
}
.btn{
    padding: 10px 20px;
    background: linear-gradient(45deg, #01a5c2, #013f46);
    color: #fff;
    text-decoration: none;
    text-align: center;
}
table{
    margin-top: 30px;
    margin-left: 300px;
    width: 100%;
    border-collapse: collapse;  
}
thead td{
    font-weight: 600;
    color: #333;
}
table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
tbody tr:hover{
    background: rgb(82, 106, 109);
    color: #fff;
}
table tr:last-child{
    border-bottom: none;
}
td{
    padding: 9px 5px ;
}
td i{
    padding: 7px;
    color: #fff;
    border-radius: 50px;
}
.last-exam table tbody td:last-child{
    white-space: nowrap;
}
.fa-circle-xmark{
    background: #bd1111;
}
.fa-circle-check{
    background: #06bd0f;
}